:root {
  --background-color: #8f86f4;
  --purple-light: #7577de;
  --purple-dark: #5a5cbc;
  --purple-dark-border: #4f509f;
  --lime-light: #96debc;
  --lime-dark: #85d0ac;
  --shadow-text: #202c2c;
  --choosing-button-color: #dbdbdb;
  --white-light: #f5f5f5;
  --best-table: #D4E3E0;
  --like-color: #D95555;
  --lime-darker: #74b998;
}
