:root {
  --background-color: #8f86f4;
  --purple-light: #7577de;
  --purple-dark: #5a5cbc;
  --purple-dark-border: #4f509f;
  --lime-light: #96debc;
  --lime-dark: #85d0ac;
  --shadow-text: #202c2c;
  --choosing-button-color: #e5cced;
  --white-light: #f5f5f5;
}
