body {
  background-color: var(--background-color);
  padding: clamp(10px, 3vw, 40px);
  background-image: url("/images/main/page-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  /* min-height: 100vh;
  margin: 0; */
}

button,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "VCrosdMonoRus", monospace;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.logo-mainpage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo-mainpage img {
  height: clamp(80px, 12vw, 180px);
  max-width: 100%;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.auth-buttons button {
  padding: 5px 20px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--white-light);
  text-shadow: 0 3px 0 var(--shadow-text);
  text-align: right;
  font-size: clamp(18px, 3vw, 32px);
}

.choosing-button:hover {
  color: var(--choosing-button-color);
}

.main-content {
  display: flex;
  width: 100%;
}

/* .main-content:after {
  content: "";
  display: table;
  clear: both;
} */

.column {
  flex:1;
  display: flex;
  flex-direction: column;
  /* min-width: 0; */
  /* align-items: center; */
}



.center-main-btns {
  padding-top: 180px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.start-btn {
  font-size: clamp(24px, 4vw, 45px);
  border-radius: 6px;
  padding: 15px 24px;
  border: none;
  outline: none;
  color: var(--purple-light);
  background-color: var(--white-light);
  box-shadow: 0 3px 0 var(--lime-dark);
}

.start-btn:hover {
  background-color: var(--choosing-button-color);
}

.create-btn {
  font-size: clamp(16px, 2vw, 24px);
  padding: 10px 24px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: var(--white-light);
  background-color: var(--lime-dark);
  box-shadow: 0 3px 0 var(--purple-dark);
}

.create-btn:hover {
  background-color: var(--lime-darker);
}

.info-btn {
  font-size: clamp(16px, 2vw, 23px);
  border-radius: 6px;
  padding: 10px;
  border: none;
  outline: none;
  color: var(--purple-light);
  background-color: var(--white-light);
  box-shadow: 0 3px 0 var(--lime-dark);
}

.info-btn:hover {
  color: var(--purple-dark);
  background-color: var(--choosing-button-color);
  box-shadow: 0 3px 0 var(--lime-dark);
}

.more-btn {
  font-size: clamp(16px, 2vw, 24px);
  padding: 10px 24px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: var(--white-light);
  background-color: var(--purple-light);
  box-shadow: 0 3px 0 var(--purple-dark);
}

.more-btn:hover {
  background-color: var(--purple-dark);
}

button {
  cursor: pointer;
}

.info-btn,
.start-btn,
.create-btn,
.more-btn {
  text-align: center;
  margin-top: 10px;
}

.levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 610px;
  max-width: 300px;
  margin-top: -50px;

}

.top-level {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-level img {
  width: 220px;
  padding: 10px;
  border-radius: 12px;
  object-fit: contain;
  width: 100%;
  max-width: 220px;
  height: auto;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: rgba(212, 227, 224, 0.8);
  border-radius: 12px;
  padding: clamp(10px, 2vw, 20px);
  gap: 15px;
}

.level {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.like {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-left {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: clamp(7px, 2vw, 14px);
  color: var(--like-color);
}

.levels-from {
  color: var(--white-light);
  text-shadow: 0 3px 0 var(--shadow-text);
  font-size: clamp(10px, 2vw, 18px);;
  margin-bottom: 10px;
  text-align: center;
}

.like img {
  width: 14px;
  height: 14px;
}

.play-btn {
  background-color: var(--purple-light);
  color: var(--white-light);
  border-radius: 6px;
  font-size: clamp(7px, 2vw, 14px);
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

.play-btn:hover {
  background-color: var(--purple-dark);
}

footer {
  margin-top: auto;
  text-align: center;
}

footer a,
footer p {
  font-size: 12px;
  color: var(--white-light);
  text-decoration: none;
  text-shadow:
    2px 2px 0 var(--purple-dark-border),
    -2px -2px 0 var(--purple-dark-border),
    2px -2px 0 var(--purple-dark-border),
    -2px 2px 0 var(--purple-dark-border);
}
